/*
 * base CSS
 * 
 */

html {
	font-family: microsoft yahei, arial, helvetica, sans-serif;
	font-family: "microsoft yahei", "arial, helvetica, sans-serif", ;
}

body {
	background-color: #eff0f1;
}

h3 {
	margin: 0;
	padding: 0;
	font-weight: 400;
}

a {
	text-decoration: none;
}

ul {
	margin: 0;
	padding: 0;
}

li {
	list-style: none;
}

p {
	margin: 0;
	padding: 0;
}

.iconfont {
	color: #000 !important;
	font-size: 22px !important;
}

.right {
	float: right;
	margin: -20px 30px 0 0;
}

.top_style {
	margin: 0!important;
}

/*
  登录页面样式
 * */

.login_overlay {
	display: none;
	position: fixed;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: #000;
	z-index: 1001;
	-moz-opacity: 0.5;
	padding: 0px;
	opacity: 0.8;
	overflow: hidden;
	float: left;
	filter: alpha(opacity=8);
	border: 1px solid #000000;
}

.login_content {
	display: none;
	position: fixed;
	top: 150px;
	left: 0;
	bottom: 0;
	right: 0;
	margin: 0 auto;
	width: 450px;
	height: 364px;
	margin: 0 auto;
	background-color: white;
	z-index: 1002;
	overflow: auto;
	border-radius: 10px;
}

.login_content h3 {
	text-align: center;
	margin: 0 auto 40px auto;
	width: 95%;
	height: 50px;
	line-height: 50px;
	color: #781c31;
	border-bottom: 1px solid #BDBDBD;
}

.pop_login {
	width: 90%;
	margin: 25px auto;
	height: 45px;
	line-height: 45px;
	border: 1px solid #BDBDBD;
	border-radius: 5px;
}

.pop_login label {
	margin: 0 0 0 30px;
}

.pop_login input {
	height: 30px;
	border: none;
	line-height: 30px;
	margin: 0 0 0 25px;
}

.login_content button {
	width: 90%;
	margin: 0 0 0 5%;
	border: none;
	height: 45px;
	color: #fff;
	border-radius: 5px;
	background-color: #781C31;
}

.login_content a {
	margin: 10px 5% 0 0;
	float: right;
	display: block;
}

.login_overlay a {
	display: block;
	width: 100%;
	height: 100%;
}

/* 弹出二维码 */

.black_overlay {
	display: none;
	position: fixed;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: #BDBDBD;
	z-index: 1001;
	-moz-opacity: 0.8;
	padding: 0px;
	opacity: 0.5;
	overflow: hidden;
	float: left;
	filter: alpha(opacity=88);
	border: 1px solid #000000;
}

.white_content {
	display: none;
	position: fixed;
	top: 0;
	width: 338px;
	padding: 20px;
	margin: 180px 0 0 110px;
	background-color: white;
	z-index: 1002;
	overflow: auto;
	text-align: center;
}

.white_content img {
	margin: 40px 0 20px 0;
	position: relative;
}

.white_content p {
	margin-bottom: 30px;
	text-indent: 0 !important;
}

.black_overlay a {
	display: block;
	width: 100%;
	height: 100%;
}


/* 弹出二维码结束 */

.bg_color {
	width: 100%;
	height: 50px;
	font-size: 20px;
	border: 0px;
	color: white;
	background-color: #781c31;
}

.txt_color {
	color: #781c31 !important;
}

.current {
	background-color: #fff;
	color: #781C31!important;
}

.current_one {
	color: #fff!important;
	background-color: #781C31;
}

.float_left {
	float: left;
}

.float_right {
	display: block;
	float: right;
}

.txt_centent {
	text-align: center;
}

.clean {
	clear: both;
}

.line_block {
	display: inline-block;
}


/*
 * content CSS
 * 
 */

._global_nav {
	position: fixed;
	z-index: 9999;
	top: 0;
	left: 0;
	width: 100%;
	height: 48px;
	border-bottom: 2px solid white;
}

._global_nav_alpha {
	box-shadow: 0 0 1px 0 rgba(0, 0, 0, .3), 0 0 6px 2px rgba(0, 0, 0, .15);
	/*background-color: rgba(255,255,255,0.94)*/
}

.head_nav {
	position: relative;
	width: 1008px;
	height: 50px;
	margin: 0 auto;
}

.logo {
	position: relative;
	float: left;
	width: 140px;
	height: 48px;
}

.head_nav_content {
	line-height: 50px;
	float: left;
	margin: 0 0 0 20px;
}

.head_nav_content ul {
	display: flex;
	float: left;
	width: 600px;
}

.head_nav_content li {
	float: left;
	width: 100px;
	text-align: center;
	flex: 1;
}

.head_nav_content a {
	font-size: 20px;
	display: block;
	width: 100px;
	margin-right: auto;
	margin-left: auto;
	color: white;
}


/*a:link {}

.content_article a:visited {
	color: #000000;
}

a:hover {}

a:active {}*/


/*
 * 主内容
 */

.content {
	width: 1008px;
	margin: 0 auto;
	padding-top: 50px;
}

.content_body {
	width: 100%;
	overflow: hidden;
}

.content_frame {
	margin: 5px auto;
}


/*.broadcast {
	overflow: hidden;
	height: 40px;
	border-bottom: 1px solid #e4e4e4;
	box-shadow: 0 0 1px 0 rgba(0, 0, 0, .3), 0 0 6px 2px rgba(0, 0, 0, .15);
	margin-bottom: 10px;
}

.broadcast_title {
	padding-left: 20px;
	float: left;
	line-height: 40px;
	width: 18%;
	height: 100%;
	margin-right: 10px;
	border-right: 1px solid #BDBDBD;
}

.broadcast_txt {
	padding-left: 10px;
	line-height: 40px;
	float: left;
}*/


/*广播*/

.broadcast {
	margin: 0 auto 10px auto;
	width: 100%;
	height: 35px!important;
	line-height: 35px;
	background-color: #fff;
	box-shadow: 0 0 1px 0 rgba(0, 0, 0, .3), 0 0 6px 2px rgba(0, 0, 0, .15);
}

.broadcast_left {
	position: absolute;
	text-align: center;
	color: #781C31;
	height: 25px;
	line-height: 25px;
	margin: 5px 0 0 25px;
	padding-right: 15px;
	border-right: 1px solid #A9A9A9;
	/*float: left;*/
}

#box1left ul {
	float: right;
	width: 75%;
	list-style-type: none;
}

#box1left ul li {
	margin: 0px;
	overflow: hidden;
	width: 100%;
	margin: 0 0 0 0!important;
	height: 35px;
	line-height: 35px;
	float: left;
}

.left_nav {
	position: fixed;
	z-index: 5;
	width: 140px;
	background-color: #fff;
	box-shadow: 0 0 1px 0 rgba(0, 0, 0, .3), 0 0 6px 2px rgba(0, 0, 0, .15);
}

.left_nav ul {
	overflow: hidden;
}

.left_nav h3 {
	padding: 10px;
	display: block;
}

.left_nav li {
	font-family: '微软雅黑';
	line-height: 35px;
	width: 140px;
	height: 35px;
}

.left_nav a {
	padding: 0 0 0 15px;
	display: block;
	width: 140px;
	color: black;
}


/*.left_nav a:active
{
    color: black;
}*/

.content_article {
	width: 600px;
	margin-left: 160px;
}

.content_article li {
	margin-bottom: 15px;
	background-color: white;
}

.content_article a {
	color: #000;
}

.content_article p {
	text-indent: 2em;
}

.article_box {
	/*padding: 10px 20px 20px;*/
	box-shadow: 0 0 1px 0 rgba(0, 0, 0, .3), 0 0 6px 2px rgba(0, 0, 0, .15);
	background-color: white;
	margin-bottom: 10px;
}

.box_content {
	padding: 10px 20px;
}

.box_content a {
	display: inline-block;
	margin: 10px 0;
}

.box_content p:first-of-type {
	margin: 10px 0 0 0;
}

.ca_border {
	margin-left: 5px;
	color: #781C31;
	border: 1px solid #781C31;
	border-radius: 5px;
	padding: 0 10px;
}

.box_content label {
	margin: 8px 0;
	display: block;
}

.box_content label p {
	float: right;
}

.box_content label~p {
	text-indent: 0;
	font-size: 16px;
	padding: 4px 0;
}

.box_content b {
	color: #781C31;
}

.tag_head {
	height: 30px;
	width: 100%;
	padding-top: 10px;
	padding-left: 20px;
	border-bottom: 1px solid #eff0f1;
	margin-bottom: 10px;
}

.tag_head span {
	float: left;
	margin: -2px 0 0 0;
}

.article_box h3 {
	margin-bottom: 10px;
}

.tag_article {
	overflow: hidden;
	width: 100%;
	padding: 0px !important;
	margin-top: 0;
}

.tag_article button {
	width: 61px;
	margin-top: 8px;
	height: 25px;
	background-color: #801C31;
	border-radius: 5px;
	color: #fff;
	padding: 0px!important;
	font-weight: bold;
	float: left;
	line-height: 25px;
	border: 0px;
}

.tag_article p {
	text-indent: inherit;
	float: right;
	overflow: hidden;
	width: 30%!important;
	margin: 8px 8px 0 0;
}

.tag_article p a {
	display: block;
	margin: 0px;
}

.tag_article p span {
	float: left;
	margin: 2px 0 0 5px;
	color: #BDBDBD;
}

.tag_article a:nth-child(1) {
	float: left;
}

.tag_article a:nth-child(3) {
	float: right;
}

.tag_article p b {
	color: #BDBDBD;
	overflow: hidden;
	margin: 5px 0 0 5px;
}

.tag_article p a img {
	float: left;
}


/*文摘详情  评论*/

.comment_sub {
	padding: 10px 20px;
	overflow: hidden;
}

.comment_sub textarea {
	width: 100%;
	border-radius: 5px;
}

.comment_sub input[type=submit] {
	float: right;
	border: none;
	background-color: #781C31;
	color: #fff;
	font-size: 18px;
	padding: 8px;
	border-radius: 5px;
}

.commentList li {
	height: 50px;
	margin-bottom: 20px;
	/*overflow: hidden;*/
}

.commentList p {
	width: 100%;
	overflow: hidden;
}

.comment_box {
	border-bottom: 20px;
}

.comment_img {
	float: left;
	margin-right: 10px;
}

.comment_content {
	float: left;
	width: 90%;
}

.logo_box {
	background-color: white;
	position: fixed;
	top: 0;
	z-index: 5;
	margin-top: 63px;
	margin-left: 780px;
	padding: 20px;
	box-shadow: 0 0 1px 0 rgba(0, 0, 0, .3), 0 0 6px 2px rgba(0, 0, 0, .15);
}

.logo_box p {
	padding: 10px;
	text-align: center;
}


/* 放生详情页面 */

.details_style {
	box-shadow: 0 0 1px 0 rgba(0, 0, 0, .3), 0 0 6px 2px rgba(0, 0, 0, .15);
	width: 600px;
	overflow: hidden;
}

.details_style span {
	background-color: #fff;
	display: block;
	padding: 10px 0 10px 15px;
	width: 100%;
	color: #BDBDBD;
}

.details_style ul {
	width: 100%;
	display: block;
	margin: 0px;
	padding: 0px;
}

.details_style ul li img {
	padding: 15px;
	float: left;
}

.details_style ul li {
	border-top: 1px solid #E3E3E3;
	width: 100%;
	margin: 0;
	height: 120px;
	float: left;
}

.details_style_content {
	width: 79%;
	float: left;
	height: 120px;
}

.details_style_content h3 {
	overflow: hidden;
	display: block;
	width: 100%;
	margin: 12px 0 0 10px;
}

.details_style_content p {
	overflow: hidden;
	display: block;
	width: 100%;
	text-indent: inherit;
	margin: 12px 0 0 10px;
	color: #BDBDBD;
}


/*发布放生*/

.publish_wrap {
	box-shadow: 0 0 1px 0 rgba(0, 0, 0, .3), 0 0 6px 2px rgba(0, 0, 0, .15);
	background-color: white;
}

.publish_head {
	padding-left: 20px;
	height: 40px;
	line-height: 40px;
	background-color: #781C31;
	color: white;
}

.publish_wrap li {
	margin: 0;
	padding-left: 20px;
	min-height: 40px;
	line-height: 40px;
	border-bottom: 1px solid #C8C7CC;
}

.publish_wrap li label {
	display: inline-block;
	width: 120px;
	float: left;
}

.publish_wrap li span {}

.publish_wrap li span select {
	display: block;
	width: 120px;
	float: left;
	height: 30px;
	margin: 5px 0 0 10px;
	line-height: 36px;
}

.publish_wrap a {
	float: left;
	text-align: center;
	width: 65px;
	height: 30px;
	color: #781C31;
	line-height: 30px;
	margin: 5px 0 0 10px;
	background-color: #BDBDBD;
	border: none;
	padding: 0;
	border-radius: 5px;
}

.publish_style {
	float: left;
	overflow: hidden;
	width: 100%;
	margin: 10px 0 0 0;
}

.publish_style input:first-of-type {
	width: 150px;
	height: 30px;
	border-radius: 5px;
	border: 1px solid #A9A9A9!important;
}

.publish_style button:first-of-type {
	float: none;
	line-height: 30px;
	height: 30px;
	border-radius: 5px;
	margin: 0 0 0 10px;
	width: 130px;
}

.publish_style button:last-of-type {
	float: right;
	width: 50px;
	height: 30px;
	line-height: 30px;
	border-radius: 5px;
	margin: 5px 10% 0 0;
}

.publish_style input:last-of-type {
	position: absolute;
	width: 130px;
	height: 30px;
	opacity: 0;
	margin: 0 0 0 10px;
	border-radius: 5px;
}

.publish_style button {
	float: right;
	background-color: #BDBDBD !important;
	border: none;
}

.publish_wrap li input[type=text] {
	border: 0;
	margin-bottom: 0;
	padding-left: 0;
}

.publish_wrap input[type=submit] {
	width: 90%;
	margin: 20px 0 20px 5%;
	height: 50px;
	border: 0;
	font-size: 18px;
	background-color: #781C31;
	color: white;
	box-shadow: 0 0 1px 0 rgba(0, 0, 0, .3), 0 0 6px 2px rgba(0, 0, 0, .15);
}


/*.publish_head {
	padding-left: 20px;
	height: 40px;
	line-height: 40px;
	background-color: #781C31;
	color: white;
}

.publish_wrap li {
	margin: 0;
	padding-left: 20px;
	min-height: 40px;
	line-height: 40px;
	border-bottom: 1px solid #C8C7CC;
}

.publish_wrap li label {
	display: inline-block;
	width: 120px;
}

.publish_wrap li input[type=text] {
	border: 0;
	margin-bottom: 0;
	padding-left: 0;
}

.publish_wrap input[type=submit] {
	position: absolute;
	left: 5%;
	bottom: 10px;
	width: 90%;
	height: 50px;
	border: 0;
	font-size: 18px;
	background-color: #781C31;
	color: white;
	box-shadow: 0 0 1px 0 rgba(0, 0, 0, .3), 0 0 6px 2px rgba(0, 0, 0, .15);
}*/


/* 个人中心样式   */

.personal_center {
	box-shadow: 0 0 1px 0 rgba(0, 0, 0, .3), 0 0 6px 2px rgba(0, 0, 0, .15);
	background-color: #FFFFFF;
	overflow: hidden;
	width: 600px;
	margin: 0 0 10px 0;
}

.personal_style_one {
	width: 17%;
	float: left;
	height: 100px;
	overflow: hidden;
	margin: 20px 30px;
	border-bottom: 1px solid #E3E3E3;
	border-radius: 70px;
}

.personal_style_one img {
	overflow: hidden;
}

.personal_style_two {
	width: 72%;
	float: left;
}

.personal_style_two h3 {
	display: block;
	margin: 40px 0 0 0;
}

.personal_style_two span {
	display: block;
	margin: 20px 0 0 0;
	color: #BDBDBD;
}

.personal_initiate {
	width: 100%;
	height: 50px;
	line-height: 50px;
	overflow: hidden;
	border-top: 1px solid #E3E3E3;
}

.personal_initiate span {
	float: left;
	margin: 0 0 0 50px;
	font-weight: bold;
}

.personal_initiate button {
	color: #781C31;
	float: right;
	width: 100px;
	height: 30px;
	line-height: 30px;
	overflow: hidden;
	background-color: #fff;
	border: none;
	margin: 10px 50px 0 0;
	box-shadow: 0 0 1px 0 rgba(0, 0, 0, .3), 0 0 6px 2px rgba(0, 0, 0, .15);
}

.personal_audit {
	border-bottom: 1px solid #E3E3E3;
	border-top: 1px solid #E3E3E3;
	width: 100%;
}

.personal_audit ul {
	padding: 0px;
	margin: 0px;
	width: 100%;
	overflow: hidden;
}

.personal_audit ul li {
	width: 33.3%;
	float: left;
	height: 80px;
	text-align: center;
	margin-bottom: 0 !important;
}

.personal_audit ul li i {
	display: block;
	margin: 20px 0 0 0;
}

.personal_audit ul li p {
	text-indent: 0em;
	margin-top: 10px;
}

.personal_function {
	width: 100%;
	border-top: 1px solid #E3E3E3;
	margin: 10px 0 0 0;
	overflow: hidden;
}

.personal_function ul {
	width: 100%;
	float: left;
}

.personal_function ul li {
	margin: 0;
	padding: 0 0 0 30px;
	width: 100%;
	height: 50px;
	line-height: 50px;
	border-bottom: 1px solid #E3E3E3;
}


/*审核状态*/

.Review_status {
	width: 90%;
	overflow: hidden;
	margin: 10px 0 0 5%;
	border-radius: 5px;
	border: 2px solid #781C31;
}

.Review_status a {
	height: 40px;
	color: #781C31;
	line-height: 40px;
	text-align: center;
	width: 33.33%;
	/*	border: 1px solid #000000;*/
	float: left;
	display: block;
}

.status_one {
	width: 90%;
	margin: 10px 0 0 5%!important;
	overflow: hidden;
	padding: 0px;
	border-bottom: 1px solid #A9A9A9;
}

#tab_con_1 li:last-of-type {
	border-bottom: 0px;
}

#tab_con_2 li:last-of-type {
	border-bottom: 0px;
}

#tab_con_3 li:last-of-type {
	border-bottom: 0px;
}

.status_one p {
	text-indent: 0em;
	float: left;
	width: 100%;
	margin: 0 0 10px 0;
}

.status_one p label {
	width: 20%;
	display: block;
	float: left;
}

.status_one p span {
	display: block;
	float: left;
	width: 79%;
	text-indent: 0;
	color: #A9A9A9;
}

.status_one p button {
	position: relative;
	margin: -22px 0 0 0;
	width: 70px;
	color: #FFF;
	height: 30px;
	background-color: #781C31;
	border: 1px solid #781C31;
	border-radius: 5px;
	float: right;
	box-shadow: 0 0 1px 0 rgba(0, 0, 0, .3), 0 0 6px 2px rgba(0, 0, 0, .15);
}

.Review_status a:last-of-type {
	float: right;
}

.status_one p:last-of-type {
	width: 60%;
	float: left;
	margin: -10px 0 10px 0;
}

.color_one {
	color: #781C31;
}

.color_two {
	color: #A9A9A9;
}

#tab_con_1,
#tab_con_3 {
	display: none;
}

.Review_style {
	background-color: #781C31;
	color: #fff!important;
}


/*我的收藏*/

.favorite_box {
	width: 100%;
	background-color: white;
	box-shadow: 0 0 1px 0 rgba(0, 0, 0, .3), 0 0 6px 2px rgba(0, 0, 0, .15);
}

.favorite_title {
	padding-left: 20px;
	height: 40px;
	line-height: 40px;
	border-bottom: 1px solid #BDBDBD;
}

.favorite_content {
	padding: 10px 0 10px 20px;
}

.favoriteList li {
	height: 60px;
	/*margin-bottom: 20px;*/
	padding: 10px 0;
	border-bottom: 1px solid #BDBDBD;
}

.favoriteList li:last-of-type {
	border-bottom: 0;
}

.favoriteList p {
	width: 100%;
	overflow: hidden;
}

.favorite_article_box {
	border-bottom: 20px;
}

.favorite_article_img {
	float: left;
	margin-right: 10px;
}

.favorite_article_content {
	float: left;
	width: 90%;
}


/*我的消息类表*/

.My_news {
	box-shadow: 0 0 1px 0 rgba(0, 0, 0, .3), 0 0 6px 2px rgba(0, 0, 0, .15);
	width: 100%;
	overflow: hidden;
	background-color: #fff;
}

.My_news li {
	width: 100%;
	margin: 10px 0 0 0;
	float: left;
	border-bottom: 1px solid #DCDCDC;
}

.My_news li img {
	width: 50px;
	float: left;
	margin: 0 0 0 25px;
}

.My_news_style {
	width: 80%;
	margin: 12px 0 20px 15px;
	float: left;
}

.My_news_style span {
	color: #A9A9A9;
}

.My_news_style p {
	padding: 10px;
	border-radius: 5px;
	text-indent: 0;
	margin: 15px 0 0 0;
	display: block;
	background-color: #DCDCDC;
}


/*个人信息修改*/

.personal_edit {
	padding: 20px;
	background-color: white;
	box-shadow: 0 0 1px 0 rgba(0, 0, 0, .3), 0 0 6px 2px rgba(0, 0, 0, .15);
}

.tfm th {
	font-weight: 400;
	padding: 10px;
	width: 120px;
	text-align: left;
	display: table-cell;
}

.tfm input[type=text],
input[type=email] {
	width: 330px;
	height: 20px;
}

.tfm select {
	min-width: 60px;
	min-height: 24px;
}

.tfm input[type=submit] {
	margin-top: 10px;
	background-color: #781C31;
	color: white;
	border: 0;
	font-size: 18px;
	height: 40px;
	width: 100px;
	box-shadow: 0 0 1px 0 rgba(0, 0, 0, .3), 0 0 6px 2px rgba(0, 0, 0, .15);
}

@media only screen and (max-width: 1008px) {
	body {
		margin-right: 0;
		margin-left: 0;
		padding: 0;
	}
	.head_nav {
		position: relative;
		width: 760px;
		margin: 0 auto;
	}
	.content {
		width: 100%;
		margin: 0 auto;
	}
	.content_frame {
		width: 760px;
		margin: 5px auto;
	}
	.logo_box {
		display: none;
	}
}